.leave-application {
  max-height: 600px; /* Set a max height for the form */
  overflow-y: auto; /* Allow vertical scrolling */
  background-color: #f1f1f1; /* Light background color */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 4px 2px 5px rgba(27, 22, 22, 0.1); /* Light shadow */
  padding: 0 20px 15px ; /* Padding around the component */
  max-width: 400px; /* Max width for the form */
  margin: 20px auto; /* Center the component */
}

.leave-application h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
  font-weight: bolder;
  text-align: center; /* Center the heading */
  margin-bottom: 15px; /* Space below the heading */
  color: #333; /* Darker color for the heading */
}

.leave-application label {
  display: block; /* Labels on their own line */
  margin-bottom: 10px; /* Space below labels */
  font-weight: bold; /* Bold labels */
  color: #555; /* Medium gray for labels */
}

.leave-application input[type="date"],
.leave-application textarea {
  width: calc(100% - 20px); /* Full width minus padding */
  padding: 13px; /* Padding inside inputs */
  border: 1px solid #b7b7b7; /* Light border */
  border-radius: 5px; /* Rounded corners */
  margin-bottom: 15px; /* Space below inputs */
  font-size: 14px; /* Font size for inputs */
  box-sizing: border-box; /* Include padding and border in width */
  transition: border-color 0.3s, box-shadow 0.3s; /* Smooth transitions */
}

.leave-application textarea {
 /* Minimum height */
  max-height: 200px; /* Max height */
  resize: vertical; /* Allow vertical resizing */
}

.leave-application input:focus,
.leave-application textarea:focus {
  border-color:rgb(5, 115, 152); /* Change border color on focus */
  outline: none; /* Remove default outline */
  box-shadow: 0 0 0.1875rem rgba(0, 166, 221, 0.5); /* Add subtle shadow */
}

.leave-application button {
  display: block; /* Ensure button is a block element */
  width: 100%; /* Full width for the button */
  background-color: #4C77A7; /* Blue background */
  color: white; /* White text */
  padding: 10px 15px; /* Padding for button */
  border: none; /* No border */
  border-radius: 10px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Larger font size for button */
  transition: background-color 0.3s; /* Smooth transition */
  margin: 0 auto; /* Center the button */
}

.leave-application button:hover {
  background-color: #06468a; /* Darker blue on hover */
}
